/* index.css */
:root {
  /* Colors */
  --background-color: #FAF9F6;
  --text-color: black;
  
  /* Typography */
  --font-family-main: 'Zilla Slab', serif;
  --font-size-base: 20px;
  --font-size-large: 24px;
}

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-family-main);
  color: var(--text-color);
}

* {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}