:root {
  /* Colors */
  --background-color: #FAF9F6;
  --text-color: black;
  
  /* Typography */
  --font-family-main: 'Consolas', monospace;
  --font-size-base: 20px;
  --font-size-large: 24px;

  /* Responsive font sizes */
  --font-size-base-mobile: 16px;
  --font-size-large-mobile: 20px;
}

/* Base styles remain the same until media queries */
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-family-main);
  color: var(--text-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}